.text-content {
    font-size: 12px;
}
.text-content-small {
    font-size: 10px;
}
.table-header {
    border-color: black;
    border-width: 0.00001em;
    border-style: solid;
    margin-bottom: -1px;
    background-color: lightgrey;
    font-size: 13px;
}
.table-cell {
    border-color: black;
    border-width: 0.00001em;
    border-style: solid;
    margin-bottom: -1px;
}
